* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #114b64;
}

.window {
    position: relative;
    width: 340px;
    height: 480px;
    background-color: #fff;
    border: 4px solid #114b64;
    box-shadow: 0 0 0 12px #fff;
    border-radius: 170px;
    overflow: hidden;
}

.window::before {
    content: '';
    position: absolute;
    top: 190px;
    left: calc(50% + 45px);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f44336;
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-1px)
    }

    50% {
        transform: translateY(-40px);
    }
}

.stairs {
    position: relative;
    width: 100%;
    right: -100%;
    top: 100px;
    animation: stairs 1s linear infinite;
}

@keyframes stairs {
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(40px) translateY(-40px)
    }
}

span {
    position: absolute;
    top: calc(var(--i) * 40px);
    right: calc(var(--i) * 40px);
    width: 100%;
    min-height: 40px;
    border-bottom: 4px solid #fff;
    background-color: #114b64;
    border-top-left-radius: 6px;
}