@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anton", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
    overflow: hidden;
}

h2 {
    position: relative;
    color: #2196f3;
    font-size: 12em;
    pointer-events: none;
}

#cursor {
    position: absolute;
    width: 250px;
    height: 250px;
    border: 2px solid #fff;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(12px) contrast(12) hue-rotate(90deg);
}