* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.loader {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border: 1px solid #fff;
        pointer-events: none;
        animation: animate 5s linear infinite;
    }

    span:nth-child(1) {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    span:nth-child(2) {
        animation-direction: reverse;
        border-radius: 30% 70% 6% 94% / 70% 30% 70% 30%;
    }

    span:nth-child(3) {
        animation-duration: 3s;
        border-radius: 56% 44% 59% 41% / 70% 66% 34% 30%;
    }

    h2 {
        font-weight: 600;
        font-family: Consolas;
        color: #fff;
    }
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}