* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #081b29;
}

.container {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: sans-serif;
    text-transform: uppercase;
    background: transparent;
    color: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: 0.5s;
}

#btn:hover::before {
    width: 100%;
}

#btn:hover {
    color: #081b29;
}

/* second button */
#btn:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #00abf0;
    transition: 0.5s;
    z-index: -1;
}

#btn:nth-child(2):hover::before {
    height: 100%;
}