@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #deeeff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 600px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.tab_box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgb(229, 229, 229);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;

    .tab_btn {
        font-size: inherit;
        font-weight: inherit;
        color: #919191;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 18px;
        cursor: pointer;

        &.active {
            color: #7460ff
        }
    }

    .line {
        position: absolute;
        top: calc(100% - 1px);
        left: 17px;
        width: 90px;
        height: 5px;
        background-color: #7460ff;
        transition: all 0.3s linear;
    }
}

.content_box {
    padding: 20px;
    .content {
        transition: 0.3s linear;
        display: none;
        margin: 20px 0;
        animation: moving 0.5s ease;
        &.active {
            display: block;
        }
        h2 {
            margin-bottom: 10px
        }
    }
}

@keyframes moving {
    from { transform: translateX(50px); opacity: 0; };
    to { transform: translateX(0); opacity: 1; }
}
