* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #0e2223;
}

.loader {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #03e9f4;
    transition: 0.3s linear;

    div {
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        border: 5px solid #03e9f4;
        transition: inherit;
        transform-origin: bottom right;
        animation: animateBox 2s ease-in-out infinite;


        &:nth-child(2) {
            transform-origin: top left;
            top: 100%;
            left: 0;
        }

        &:nth-child(3) {
            transform-origin: bottom left;
            top: 0;
            left: 100%;
        }

        &:nth-child(4) {
            transform-origin: top right;
            top: 0;
            left: -100%;
        }
    }

    &:hover,
    &:hover div {
        background-color: #03e9f4;
        box-shadow: 
            0 0 5px #03e9f4,
            0 0 25px #03e9f4,
            0 0 50px #03e9f4,
            0 0 200px #03e9f4;
    }
}

@keyframes animateBox {
    0% {
        transform: rotate(0deg);
    }

    50%,
    100% {
        transform: rotate(180deg)
    }
}