* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #262626;
    background-image: linear-gradient(to right, #333 1px, transparent 1px),
        linear-gradient(to bottom, #333 1px, transparent 1px);
    background-size: 5vh 5vh;
    overflow: hidden;
}

h2 {
    font-family: Consolas;
    font-size: 8em;
    color: #fff;
    text-shadow: 1px 1px 5px #FFFAE6;
    filter: drop-shadow(1px 1px 5px #fffae6);
}

.circle {
    position: absolute;
    top: 0;
    width: 20px;
    aspect-ratio: 1 / 1;
    border: 5px solid rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    background-color: #0f0;
    animation: animate 10s linear forwards;
    transform-origin: top;
}

@keyframes animate {
    0% {
        transform: translateY(0vh) scale(0);
    }

    10% {
        transform: translateY(0vh) scale(1);
    }

    45% {
        transform: translateY(0vh) scale(1);
    }

    55% {
        transform: translateY(calc(100vh - 100%)) scale(1);
    }

    90% {
        transform: translateY(calc(100vh - 100%)) scale(1);
        transform-origin: bottom;
    }

    100% {
        transform: translateY(calc(100vh - 100%)) scale(0);
        transform-origin: bottom;
    }
}