* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #181818;
    animation: hue-rotate 3.5s linear infinite;
}

div {
    width: 200px;
    height: 200px;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s linear;
}

div:hover {
    box-shadow: 0 0 10px #0000008c;
}

div::before {
    content: "";
    position: absolute;
    background-image: conic-gradient(#ff0052 20deg, transparent 120deg);
    width: 150%;
    height: 150%;
    animation: rotate 3s linear infinite;
}

div::after {
    content: "Loading";
    width: 190px;
    height: 190px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #2e2e2e;
    position: absolute;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff0052;
    font-size: larger;
    font-family: cursive;
    letter-spacing: 5px;
    box-shadow:
        inset 20px 20px 20px #0000008c,
        inset -20px -20px 20px #0000008c;
    font-weight: 900;
    transition: 0.3s linear;
}

div:hover::after {
    letter-spacing: -2px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes hue-rotate {
    0%,
    100% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }
}
