* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

img {
    width: 50rem;;
    height: 50rem;;
    object-fit: cover;
    border-radius: 50%;
}